/************************************************ Main ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    position: relative;
    color: #393939;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(252, 225, 129, 0.6), rgba(252, 225, 129, 0.7)), url("img/washing-header.jpg") no-repeat center center fixed;
    background-size: cover;
}

h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.uparrow {
    position: fixed;
    font-size: 4rem;
    bottom: 1rem;
    color: rgba(2, 102, 110, 0.9);
}

.uparrow, .logo {
    cursor: pointer;
}

.uparrow1 {
    left: 1rem;
}

.uparrow2 {
    right: 1rem;
}

.ico {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.ico .fa-youtube {
    color: rgba(204, 24, 30, .7);
    font-size: 5rem;
    padding-left: 1rem;
}

.ico .small {
}

.fa-youtube:hover {
    color: rgba(204, 24, 30, 1);
}

.reset-button {
    background-color: #000;
    color: #fff;
    padding: 0 .6rem 0 .4rem;
    border-radius: .3rem;
}

/********************************************** Header ****/

.header {
    height: 100vh;
    width: 100%;
}

.layer {

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 6.4rem);
    width: 75%;
    margin: 7rem auto 0;
    padding: 4rem;
    background-color: rgba(252, 225, 129, 0.3);
    font-size: 1.7rem;
    /*border: 5px solid rgba(2, 102, 110, 0.9);*/
    /*border-top: none;*/
    border-radius: .5rem;
}

.intro h2 {
    text-align: center;
    font-weight: 900;
    letter-spacing: .3rem;
    color: #026670;
}

.intro ul {
    list-style-position: outside;
}

.intro ul li {
    padding: 1.5rem 0;
}

/****************************************** Navigation ****/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    background-color: rgba(2, 102, 112, 0.95);
    width: 100%;
    height: 8rem;
    padding: 1.3rem;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 0 1px 1px rgba(252, 225, 129, 0.6);
}

.logo {
    position: relative;
    height: 100%;
    width: 15rem;
    background-color: rgba(252, 225, 129, 0.85);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    padding-top: .4rem;
    border-radius: .8rem .8rem .3rem .3rem;
    text-align: center;
    letter-spacing: .55rem;
    line-height: 2.3rem;
}

.logoText {
    position: absolute;
    left: .6rem;
    transition: all 100ms;
}

.flag {
    display: inline-block;
    position: absolute;
    width: 53px;
    height: 37px;
    border: 1px solid #026670;
    border-radius: .2rem;
    background-size: contain;
    opacity: .7;
}

.flagDE {
    background-image: url("img/de.svg");
    border-radius: .7rem 0 .7rem 0;
    left: .5rem;

}

.flagAT {
    background-image: url("img/at.svg");
    border-radius: 0 .7rem 0 .7rem;
    right: .5rem;

}

.nav, .logo, .flag, .logoText, .nav-item, .nav-item a {
    transition: all 500ms;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
}

.nav-item {
    text-align: center;
    padding: 0 1.3rem;
    transition: all 200ms;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-item a {
    text-decoration: none;
    color: #FEF9C7;
    font-size: 1.7rem;
}

.nav-item a:hover {
    color: rgba(252, 225, 129, 0.9);

}

.fa-arrow-down {
    font-size: smaller;
}

.dropdown {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    padding-bottom: .5rem;
    text-align: center;
    list-style-type: none;
    transition: all 600ms;
    border-radius: .15rem;
}

.dropdown {
    width: 190px;
}

.dropdown li {
    padding-top: .7rem;
    position: relative;
}

.nav-item:first-of-type:hover .dropdown {
    max-height: 12rem;
    border-bottom: 1px solid #000;
}

.nav-item:last-of-type:hover .dropdown2 {
    max-height: 12rem;
    border-bottom: 1px solid #000;
}

/**************************************** Main Section ****/

.main {
    background-color: rgba(0, 0, 0, 0);
}

.main section {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

.main h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    font-weight: lighter;
    letter-spacing: .8rem;
    margin: 2rem auto 0;
    padding: 1rem;
    background-color: rgba(252, 225, 129, 0.8);
    /*border: 2px solid rgba(2, 102, 110, 0.9);*/
    /*border-bottom: none;*/
    width: 60%;
}

.main h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    letter-spacing: .5rem;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    background-color: rgba(226, 223, 218, 0.8);
    /*border: 2px solid rgba(2, 102, 110, 0.9);*/
    border-bottom: none;
    width: 75%;
}



.main h4 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: 2rem;
    text-decoration: underline;
}

.icon {
    width: 5rem;
    height: 4rem;
}

/*************************************** Avoidance Box ****/

.avoidanceBox, .add-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(252, 225, 129, .9);
    border: 2px solid rgba(2, 102, 110, .7);
}

.avoidanceBox span, .add-info span {
    padding: 1rem 0;
}


.avoidanceBoxToggler {
    cursor: pointer;
}

.add-info {
    background-color: rgba(2, 102, 110, 0.9);
    color: rgba(252, 225, 129, 0.85);
}

.add-info h4 {
    text-align: center;
    font-size: 2.2rem;
}


/******************************************** Sections ****/

